In [1]:
import polars as pl

In [89]:
df = pl.read_csv("./dataset/Movies.csv")
df.head()

shape: (5, 14)
┌─────┬──────────────┬──────────────┬──────┬───┬─────────────┬─────────────┬─────────────┬─────────┐
│     ┆ Title        ┆ Movie Info   ┆ Year ┆ … ┆ Release     ┆ Genre       ┆ Running     ┆ License │
│ --- ┆ ---          ┆ ---          ┆ ---  ┆   ┆ Date        ┆ ---         ┆ Time        ┆ ---     │
│ i64 ┆ str          ┆ str          ┆ i64  ┆   ┆ ---         ┆ str         ┆ ---         ┆ str     │
│     ┆              ┆              ┆      ┆   ┆ str         ┆             ┆ str         ┆         │
╞═════╪══════════════╪══════════════╪══════╪═══╪═════════════╪═════════════╪═════════════╪═════════╡
│ 0   ┆ Avatar       ┆ A paraplegic ┆ 2009 ┆ … ┆ 16-Dec-09   ┆ ['Action',  ┆ 2 hr 42 min ┆ PG-13   │
│     ┆              ┆ Marine       ┆      ┆   ┆             ┆ 'Adventure' ┆             ┆         │
│     ┆              ┆ dispatched…  ┆      ┆   ┆             ┆ , 'Fanta…   ┆             ┆         │
│ 1   ┆ Avengers:    ┆ After the    ┆ 2019 ┆ … ┆ 24-Apr-19   ┆ ['Action',  ┆ 3 hr 1 min  ┆ PG-13   │
│     ┆ Endgame      ┆ devastating  ┆      ┆   ┆             ┆ 'Adventure' ┆             ┆         │
│     ┆              ┆ events o…    ┆      ┆   ┆             ┆ , 'Drama…   ┆             ┆         │
│ 2   ┆ Avatar: The  ┆ Jake Sully   ┆ 2022 ┆ … ┆ 24-Apr-19   ┆ ['Action',  ┆ 3 hr 1 min  ┆ PG-13   │
│     ┆ Way of Water ┆ lives with   ┆      ┆   ┆             ┆ 'Adventure' ┆             ┆         │
│     ┆              ┆ his newf…    ┆      ┆   ┆             ┆ , 'Drama…   ┆             ┆         │
│ 3   ┆ Titanic      ┆ A seventeen- ┆ 1997 ┆ … ┆ 19-Dec-97   ┆ ['Drama',   ┆ 3 hr 14 min ┆ PG-13   │
│     ┆              ┆ year-old     ┆      ┆   ┆             ┆ 'Romance']  ┆             ┆         │
│     ┆              ┆ aristocra…   ┆      ┆   ┆             ┆             ┆             ┆         │
│ 4   ┆ Star Wars:   ┆ As a new     ┆ 2015 ┆ … ┆ 16-Dec-15   ┆ ['Action',  ┆ 2 hr 18 min ┆ PG-13   │
│     ┆ Episode VII  ┆ threat to    ┆      ┆   ┆             ┆ 'Adventure' ┆             ┆         │
│     ┆ - The F…     ┆ the galaxy … ┆      ┆   ┆             ┆ , 'Sci-F…   ┆             ┆         │
└─────┴──────────────┴──────────────┴──────┴───┴─────────────┴─────────────┴─────────────┴─────────┘

In [90]:
df = df.rename({"" : "idx"})

In [91]:
df[95]

shape: (1, 14)
┌─────┬─────────┬───────────────┬──────┬───┬──────────────┬───────────────┬──────────────┬─────────┐
│ idx ┆ Title   ┆ Movie Info    ┆ Year ┆ … ┆ Release Date ┆ Genre         ┆ Running Time ┆ License │
│ --- ┆ ---     ┆ ---           ┆ ---  ┆   ┆ ---          ┆ ---           ┆ ---          ┆ ---     │
│ i64 ┆ str     ┆ str           ┆ i64  ┆   ┆ str          ┆ str           ┆ str          ┆ str     │
╞═════╪═════════╪═══════════════╪══════╪═══╪══════════════╪═══════════════╪══════════════╪═════════╡
│ 95  ┆ Hi, Mom ┆ A woman       ┆ 2021 ┆ … ┆ 30-May-17    ┆ ['Action',    ┆ 2 hr 21 min  ┆ PG-13   │
│     ┆         ┆ travels back  ┆      ┆   ┆              ┆ 'Adventure',  ┆              ┆         │
│     ┆         ┆ in time t…    ┆      ┆   ┆              ┆ 'Fanta…       ┆              ┆         │
└─────┴─────────┴───────────────┴──────┴───┴──────────────┴───────────────┴──────────────┴─────────┘

In [92]:
invalid_dist = r"^[A-Za-z]+ \d{1,2}"

mask = ~df["Distributor"].str.contains(invalid_dist)
df = df.filter(mask)

#### Handling string values in integer columns

In [98]:
df.filter(
    pl.col("Budget (in $)").str.contains(r"\D")
)["Budget (in $)"]

shape: (210,)
Series: 'Budget (in $)' [str]
[
	"December 14 2022 (EMEA APAC)"
	"April 25 2018 (APAC EMEA)"
	"December 15 2021 (14 markets)"
	"May 20 2022 (Iceland)"
	"July 19 2023 (EMEA APAC)"
	…
	"November 15 1991 (Domestic)"
	"September 20 1996 (Domestic)"
	"April 29 2021 (New Zealand)"
	"March 26 2004 (10 markets)"
	"December 28 2022 (EMEA)"
]

In [99]:
df = df.with_columns(
    pl.when(pl.col("Budget (in $)").str.contains(r"\D"))
    .then(None)
    .otherwise("Budget (in $)")
    .alias("Budget (in $)")
)

df = df.with_columns(
    pl.col("Budget (in $)").cast(pl.Int64)
)

In [100]:
df.head()

shape: (5, 14)
┌─────┬──────────────┬──────────────┬──────┬───┬─────────────┬─────────────┬─────────────┬─────────┐
│ idx ┆ Title        ┆ Movie Info   ┆ Year ┆ … ┆ Release     ┆ Genre       ┆ Running     ┆ License │
│ --- ┆ ---          ┆ ---          ┆ ---  ┆   ┆ Date        ┆ ---         ┆ Time        ┆ ---     │
│ i64 ┆ str          ┆ str          ┆ i64  ┆   ┆ ---         ┆ str         ┆ ---         ┆ str     │
│     ┆              ┆              ┆      ┆   ┆ str         ┆             ┆ str         ┆         │
╞═════╪══════════════╪══════════════╪══════╪═══╪═════════════╪═════════════╪═════════════╪═════════╡
│ 0   ┆ Avatar       ┆ A paraplegic ┆ 2009 ┆ … ┆ 16-Dec-09   ┆ ['Action',  ┆ 2 hr 42 min ┆ PG-13   │
│     ┆              ┆ Marine       ┆      ┆   ┆             ┆ 'Adventure' ┆             ┆         │
│     ┆              ┆ dispatched…  ┆      ┆   ┆             ┆ , 'Fanta…   ┆             ┆         │
│ 1   ┆ Avengers:    ┆ After the    ┆ 2019 ┆ … ┆ 24-Apr-19   ┆ ['Action',  ┆ 3 hr 1 min  ┆ PG-13   │
│     ┆ Endgame      ┆ devastating  ┆      ┆   ┆             ┆ 'Adventure' ┆             ┆         │
│     ┆              ┆ events o…    ┆      ┆   ┆             ┆ , 'Drama…   ┆             ┆         │
│ 2   ┆ Avatar: The  ┆ Jake Sully   ┆ 2022 ┆ … ┆ 24-Apr-19   ┆ ['Action',  ┆ 3 hr 1 min  ┆ PG-13   │
│     ┆ Way of Water ┆ lives with   ┆      ┆   ┆             ┆ 'Adventure' ┆             ┆         │
│     ┆              ┆ his newf…    ┆      ┆   ┆             ┆ , 'Drama…   ┆             ┆         │
│ 3   ┆ Titanic      ┆ A seventeen- ┆ 1997 ┆ … ┆ 19-Dec-97   ┆ ['Drama',   ┆ 3 hr 14 min ┆ PG-13   │
│     ┆              ┆ year-old     ┆      ┆   ┆             ┆ 'Romance']  ┆             ┆         │
│     ┆              ┆ aristocra…   ┆      ┆   ┆             ┆             ┆             ┆         │
│ 4   ┆ Star Wars:   ┆ As a new     ┆ 2015 ┆ … ┆ 16-Dec-15   ┆ ['Action',  ┆ 2 hr 18 min ┆ PG-13   │
│     ┆ Episode VII  ┆ threat to    ┆      ┆   ┆             ┆ 'Adventure' ┆             ┆         │
│     ┆ - The F…     ┆ the galaxy … ┆      ┆   ┆             ┆ , 'Sci-F…   ┆             ┆         │
└─────┴──────────────┴──────────────┴──────┴───┴─────────────┴─────────────┴─────────────┴─────────┘

In [101]:
df.filter(
    pl.col("Domestic Opening (in $)").str.contains(r"\D")
)["Domestic Opening (in $)"]

shape: (8,)
Series: 'Domestic Opening (in $)' [str]
[
	"February 12 2021 (China)"
	"December 15 1939 (Domestic)"
	"August 21 1942 (Domestic)"
	"February 28 2008 (South Korea)"
	"February 18 2016 (South Korea)"
	"October 1 2020 (3 markets)"
	"January 25 1961 (Domestic)"
	"October 18 1967 (Domestic)"
]

In [102]:
df = df.with_columns(
    pl.when(pl.col("Domestic Opening (in $)").str.contains(r"\D"))
    .then(None)
    .otherwise("Domestic Opening (in $)")
    .alias("Domestic Opening (in $)")
)

df = df.with_columns(
    pl.col("Domestic Opening (in $)").cast(pl.Int64)
)

In [103]:
df.head()

shape: (5, 14)
┌─────┬──────────────┬──────────────┬──────┬───┬─────────────┬─────────────┬─────────────┬─────────┐
│ idx ┆ Title        ┆ Movie Info   ┆ Year ┆ … ┆ Release     ┆ Genre       ┆ Running     ┆ License │
│ --- ┆ ---          ┆ ---          ┆ ---  ┆   ┆ Date        ┆ ---         ┆ Time        ┆ ---     │
│ i64 ┆ str          ┆ str          ┆ i64  ┆   ┆ ---         ┆ str         ┆ ---         ┆ str     │
│     ┆              ┆              ┆      ┆   ┆ str         ┆             ┆ str         ┆         │
╞═════╪══════════════╪══════════════╪══════╪═══╪═════════════╪═════════════╪═════════════╪═════════╡
│ 0   ┆ Avatar       ┆ A paraplegic ┆ 2009 ┆ … ┆ 16-Dec-09   ┆ ['Action',  ┆ 2 hr 42 min ┆ PG-13   │
│     ┆              ┆ Marine       ┆      ┆   ┆             ┆ 'Adventure' ┆             ┆         │
│     ┆              ┆ dispatched…  ┆      ┆   ┆             ┆ , 'Fanta…   ┆             ┆         │
│ 1   ┆ Avengers:    ┆ After the    ┆ 2019 ┆ … ┆ 24-Apr-19   ┆ ['Action',  ┆ 3 hr 1 min  ┆ PG-13   │
│     ┆ Endgame      ┆ devastating  ┆      ┆   ┆             ┆ 'Adventure' ┆             ┆         │
│     ┆              ┆ events o…    ┆      ┆   ┆             ┆ , 'Drama…   ┆             ┆         │
│ 2   ┆ Avatar: The  ┆ Jake Sully   ┆ 2022 ┆ … ┆ 24-Apr-19   ┆ ['Action',  ┆ 3 hr 1 min  ┆ PG-13   │
│     ┆ Way of Water ┆ lives with   ┆      ┆   ┆             ┆ 'Adventure' ┆             ┆         │
│     ┆              ┆ his newf…    ┆      ┆   ┆             ┆ , 'Drama…   ┆             ┆         │
│ 3   ┆ Titanic      ┆ A seventeen- ┆ 1997 ┆ … ┆ 19-Dec-97   ┆ ['Drama',   ┆ 3 hr 14 min ┆ PG-13   │
│     ┆              ┆ year-old     ┆      ┆   ┆             ┆ 'Romance']  ┆             ┆         │
│     ┆              ┆ aristocra…   ┆      ┆   ┆             ┆             ┆             ┆         │
│ 4   ┆ Star Wars:   ┆ As a new     ┆ 2015 ┆ … ┆ 16-Dec-15   ┆ ['Action',  ┆ 2 hr 18 min ┆ PG-13   │
│     ┆ Episode VII  ┆ threat to    ┆      ┆   ┆             ┆ 'Adventure' ┆             ┆         │
│     ┆ - The F…     ┆ the galaxy … ┆      ┆   ┆             ┆ , 'Sci-F…   ┆             ┆         │
└─────┴──────────────┴──────────────┴──────┴───┴─────────────┴─────────────┴─────────────┴─────────┘

#### Converting the date columns into proper DateTime Format

In [104]:
df = df.with_columns(
    pl.col("Release Date").str.to_date(format = "%d-%b-%y")
    .alias("Release Date")
)

In [105]:
df.select(
    pl.col("Running Time")
)

shape: (980, 1)
┌──────────────┐
│ Running Time │
│ ---          │
│ str          │
╞══════════════╡
│ 2 hr 42 min  │
│ 3 hr 1 min   │
│ 3 hr 1 min   │
│ 3 hr 14 min  │
│ 2 hr 18 min  │
│ …            │
│ 1 hr 48 min  │
│ 1 hr 40 min  │
│ 2 hr 19 min  │
│ 2 hr 6 min   │
│ 2 hr 6 min   │
└──────────────┘

In [106]:
df = df.with_columns(
    (pl.col("Running Time").str.extract(r"(\d+)").cast(pl.Int64)) * 60 + 
    (pl.col("Running Time").str.extract(r"hr (\d+)").cast(pl.Int64))
)

In [107]:
df.head()

shape: (5, 14)
┌─────┬───────────────┬───────────────┬──────┬───┬──────────────┬──────────────┬─────────┬─────────┐
│ idx ┆ Title         ┆ Movie Info    ┆ Year ┆ … ┆ Release Date ┆ Genre        ┆ Running ┆ License │
│ --- ┆ ---           ┆ ---           ┆ ---  ┆   ┆ ---          ┆ ---          ┆ Time    ┆ ---     │
│ i64 ┆ str           ┆ str           ┆ i64  ┆   ┆ date         ┆ str          ┆ ---     ┆ str     │
│     ┆               ┆               ┆      ┆   ┆              ┆              ┆ i64     ┆         │
╞═════╪═══════════════╪═══════════════╪══════╪═══╪══════════════╪══════════════╪═════════╪═════════╡
│ 0   ┆ Avatar        ┆ A paraplegic  ┆ 2009 ┆ … ┆ 2009-12-16   ┆ ['Action',   ┆ 162     ┆ PG-13   │
│     ┆               ┆ Marine        ┆      ┆   ┆              ┆ 'Adventure', ┆         ┆         │
│     ┆               ┆ dispatched…   ┆      ┆   ┆              ┆ 'Fanta…      ┆         ┆         │
│ 1   ┆ Avengers:     ┆ After the     ┆ 2019 ┆ … ┆ 2019-04-24   ┆ ['Action',   ┆ 181     ┆ PG-13   │
│     ┆ Endgame       ┆ devastating   ┆      ┆   ┆              ┆ 'Adventure', ┆         ┆         │
│     ┆               ┆ events o…     ┆      ┆   ┆              ┆ 'Drama…      ┆         ┆         │
│ 2   ┆ Avatar: The   ┆ Jake Sully    ┆ 2022 ┆ … ┆ 2019-04-24   ┆ ['Action',   ┆ 181     ┆ PG-13   │
│     ┆ Way of Water  ┆ lives with    ┆      ┆   ┆              ┆ 'Adventure', ┆         ┆         │
│     ┆               ┆ his newf…     ┆      ┆   ┆              ┆ 'Drama…      ┆         ┆         │
│ 3   ┆ Titanic       ┆ A seventeen-y ┆ 1997 ┆ … ┆ 1997-12-19   ┆ ['Drama',    ┆ 194     ┆ PG-13   │
│     ┆               ┆ ear-old       ┆      ┆   ┆              ┆ 'Romance']   ┆         ┆         │
│     ┆               ┆ aristocra…    ┆      ┆   ┆              ┆              ┆         ┆         │
│ 4   ┆ Star Wars:    ┆ As a new      ┆ 2015 ┆ … ┆ 2015-12-16   ┆ ['Action',   ┆ 138     ┆ PG-13   │
│     ┆ Episode VII - ┆ threat to the ┆      ┆   ┆              ┆ 'Adventure', ┆         ┆         │
│     ┆ The F…        ┆ galaxy …      ┆      ┆   ┆              ┆ 'Sci-F…      ┆         ┆         │
└─────┴───────────────┴───────────────┴──────┴───┴──────────────┴──────────────┴─────────┴─────────┘

In [108]:
df.null_count()

shape: (1, 14)
┌─────┬───────┬────────────┬──────┬───┬──────────────┬───────┬──────────────┬─────────┐
│ idx ┆ Title ┆ Movie Info ┆ Year ┆ … ┆ Release Date ┆ Genre ┆ Running Time ┆ License │
│ --- ┆ ---   ┆ ---        ┆ ---  ┆   ┆ ---          ┆ ---   ┆ ---          ┆ ---     │
│ u32 ┆ u32   ┆ u32        ┆ u32  ┆   ┆ u32          ┆ u32   ┆ u32          ┆ u32     │
╞═════╪═══════╪════════════╪══════╪═══╪══════════════╪═══════╪══════════════╪═════════╡
│ 0   ┆ 0     ┆ 0          ┆ 0    ┆ … ┆ 0            ┆ 0     ┆ 16           ┆ 0       │
└─────┴───────┴────────────┴──────┴───┴──────────────┴───────┴──────────────┴─────────┘

In [111]:
df.filter(
    pl.col("Distributor") == "July 17, 2015 (China)"
)

shape: (0, 14)
┌─────┬───────┬────────────┬──────┬───┬──────────────┬───────┬──────────────┬─────────┐
│ idx ┆ Title ┆ Movie Info ┆ Year ┆ … ┆ Release Date ┆ Genre ┆ Running Time ┆ License │
│ --- ┆ ---   ┆ ---        ┆ ---  ┆   ┆ ---          ┆ ---   ┆ ---          ┆ ---     │
│ i64 ┆ str   ┆ str        ┆ i64  ┆   ┆ date         ┆ str   ┆ i64          ┆ str     │
╞═════╪═══════╪════════════╪══════╪═══╪══════════════╪═══════╪══════════════╪═════════╡
└─────┴───────┴────────────┴──────┴───┴──────────────┴───────┴──────────────┴─────────┘

In [113]:
df.write_csv("./dataset/clean_movies.csv")